@import '../scss/_variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './_icons.scss';
@import './_fonts.scss';

body{
    font-family: police;
}

// header

.container .row .col-12 .fuck{
    filter: brightness(25%);
}

.container .row .col-12 .navbar{
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
}

.container .row .col-12 .navbar .collapse li{
    display: flex;

}

.container .row .col-12 .navbar .collapse li a{
    color: white;
    text-transform: uppercase;
    align-self: center;
    border-top: solid grey 2px;
    border-bottom: solid grey 2px;
}

.divlogo .logo{
    margin: 0 40px;
}


.carousel{  
    z-index: -1;
}

span{
    font-size: 50px;
}


.titrecarousel{
    margin-bottom: 20px;
    text-align: center;
}

.buttoncarousel{
    margin-bottom: 250px;
    padding: 10px;
    border-radius: 40px;
    border: 0;
    text-transform: uppercase;
}


.buttoncarousel2{
    margin-bottom: 250px;
    padding: 10px;
    border-radius: 40px;
    background-color: red;
    border: 0;
    text-transform: uppercase;

}

// 1ère section

#section1{
    background-image: url(../../public/images/main_bg.jpg);
}


.ourstory{
    margin-top: 20px;
    position: relative;
    height: 1200px;
}

#box1{
    position: absolute;
    top: 0px;
    left: 0px;
}

#box2{
    position: absolute;
    top: 0px;
    right: 0px;
}

#box3{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#box4{
    position: absolute;
    bottom: 0px;
    right: 0px;
}



.ourstory p{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

#list-tab{
    font-size: 40px;   
}

#list-tab a{
    border: none;
    border-right: solid 3px lightgrey;
    border-bottom: solid 3px lightgrey;
}

#list-tab a:hover{
    border-right: solid 3px red;
}

.list-group-item:hover{
    color: red;
}

.menulist div div{
    display: flex;
}




// section2


#section2{
    background-color: black;
    height: 700px;
}

.meet{
    padding-top: 100px;
}


.sousligne{
    margin-left: 350px;
}

.chefs{
    margin-top: 100px;
}



// section3

#section3{
    height: 1500px;
}


.jumbotron{
    margin-left: 150px;
    background-image: url('../../public/images/book_table_bg.jpg');
    height: 600px;
    width: 850px;
}

.input{
    border-radius: 15px;
    height: 50px;
    width: 300px;
}

.buttonbook{
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 150px;
    color: white;
    background-color: red;
    
}

// section4


#section4{
    background-image: url('../../public/images/testimonials_background.jpg');
    height: 500px;
}

.titreclient{
    text-align: center;
}

.testimonials1{
    border-radius: 50%;
    border: solid 4px white;
    height: 150px;
    margin-left: 25px;
}

.testimonials2{
    border-radius: 50%;
    border: solid 4px white;
    height: 150px;
}

.case{
    border: solid 2px grey;
    border-radius: 10px;
}


// section5


#section5{
    background-image: url(../../public/images/main_bg.jpg);
}

.contact{
    background-color: red;
    width: 50%;
    margin-left: 300px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 10px;
}

hr{
    background-color: white;
    margin: 5px 20px;
}


#icones{
    font-size: 30px;
}



// footer


footer .container{
    background-image: url('../../public/images/footer_background.jpg');
    margin-top: 50px;
    padding-top: 50px;
}